/*app/globals.css*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center h-16 w-16 mt-5 mb-5 mx-auto bg-gray-800 text-gray-400 rounded-3xl
        hover:bg-blue-500 hover:text-white hover:rounded-none transition-all duration-300 ease-linear cursor-pointer p-2.5;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-20 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold
        transition-all duration-100 scale-0 origin-left scale-0
    }
    .sidebar-hr {
        @apply bg-white dark:bg-gray-800
        border border-gray-600 dark:bg-gray-800 rounded-full
        mx-2;
    }
    .home-icon {
        @apply relative flex items-center justify-center h-24 w-24 mt-5 mb-5 mx-auto bg-gray-800 text-gray-400 rounded-3xl
        hover:bg-blue-500 hover:text-white hover:rounded-none transition-all duration-300 ease-linear cursor-pointer p-2.5;
    }
}

body {
    background-color: #e5e5e5;
}

li {
    font-size: smaller;

}

h3 {
    font-size: large;
    @apply font-extrabold;
    color: rgb(0, 11, 61);
    padding-top: 20px;
    padding-bottom: 15px;
}

h4 {
    @apply font-bold;
    color: #575757;
    padding-bottom: 15px;
    font-size: 18px;
}

h5 {
    padding-bottom: 10px;
}
